table, td, tr, th{
    border: 1px solid red;
    border-collapse: collapse;
    padding: 0px 20px;
    margin: auto;
    box-shadow: 2px 2px 5px  red;
} 
h2{
    text-align: center;
}
.hello{
    display: inline-block;
}

p{
    margin-left: 140px;
}